.annotation-sidebar {
  z-index: 10000;
  position: fixed; 
  top: 0; 
  width: 600px; 
  right: -580px; 
  background-color: black; 
  height: 100%; 
  background: rgba(0, 0, 31, 0);
}
#scrollview {
  color: black; 
}
/* React */

.annotator-body-container {
  height: 700px;
  overflow-y: scroll;

}

.annotator-button-container {
  margin-top: 7px;
  width: 25px;
  height: 25px;
}

.annotator-button {
  width: 25px;
  height: 25px;
  background: rgba(55, 54, 68, 0);
}

/* Annotator View */
.annotator-view-container {
  width: 300px;
  height: 700px;
  background: rgba(249, 249, 249, 1);
}

.annotator-buttons-container {
  width: 300px;
  height: 30px;
}

.home-button {
  width: 25px;
  height: 25px;
}

.home-button-container {
  float: left;
  margin: 7px 0 0 7px;
  /*display: inline-block;*/
}

.annotator-my-view-button-container {
  float: right;
  width: 25px; 
  height: 25px;
  margin: 7px 7px 0 0;
  display: inline-block;
} 

.annotator-my-view-button {
  width: 25px; 
  height: 25px;
  background: rgba(55, 54, 68, 0);
  border-radius: 50%;
}



  /* Header */
.annotator-head-container {
  margin-bottom: 10px;
  width: 300px;
  text-align: center;
}
.annotator-user-image {
  margin: 0 auto;
  width: 90px;
  height: 90px;
  border-radius: 50%;
}
.username-container {
  color: red;
  margin-bottom: 5px;
}
.profile-statistics-container {
  width: 300px;
  margin-bottom: 5px;
}
.posts-container {
  border-right: 2px solid black;
  display: inline-block;
  padding-right: 5px;
}
.followers-container {
  border-right: 2px solid black;
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}
.following-container {
  display: inline-block;
  padding-left: 5px;
}
.statistic {
  padding-right: 3px; 
}
.description-container {
  width: 255px;
  display: inline-block;
  border-bottom: 1px solid black;
  padding: 0px 20px 5px 20px;
}


  /* Feed View */
.feed-view-container {
  width: 600px;
  height: 1000px;
  background: rgba(249, 249, 249, 1);
}
.feed-container {
  width: 500px;
  height: 700px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  margin: 0 auto;
}
.header-container {
  margin-bottom: 10px;
  width: 600px;
  text-align: center;
}
.minimize-button {
  height: 25px;
  width: 25px;
}

/*ButtonContainer*/

/*Settings*/

/*MyAnnotations*/

/*FriendsFeed*/

