/* Transition */
/*.sidebar-enter {
  opacity: 0.01;
  transition: all .15s ease-in;
  transform: translateX(300px);

}

.sidebar-enter.sidebar-enter-active {
  transform: translateX(0px);
  opacity: 1;
}*/

.sidebar-leave {
  opacity: 1;
  transition: all .15s ease-in;
  transform: translateX(0px);
}

.sidebar-leave.sidebar-leave-active {
  opacity: 0.01;
  transform: translateX(300px);
}


#annotation-sidebar {
  z-index: 10000;
  position: fixed; 
  top: 0; 
  width: 630px; 
  right: -580px;  
  height: 100%; 
}
#scrollview {
  color: black; 
}
/* React */
.app-container {
  background: none;
  margin-left: 20px;
}
.annotator-body-container {
  height: 1000px;
  overflow-y: scroll;
}
.annotator-button-container {
  margin-top: 7px;
  width: 25px;
  height: 25px;
}
.annotator-button {
  width: 25px;
  height: 25px;
}



/* Annotator View */
.annotator-view-container {
  width: 300px;
  height: 700px;
}
.annotator-buttons-container {
  z-index: 10000;
  width: 300px;
  height: 38px;
}
.friends-annotations-button-container {
  float: right;
  width: 25px; 
  height: 25px;
  margin: 7px 0 0 7px;
}
.friends-annotations-button {
  width: 25px; 
  height: 25px;
}
.home-button {
  width: 25px;
  height: 25px;
}
.home-button-container {
  float: right;
  margin: 7px 0 0 7px;
  /*display: inline-block;*/
}
.annotator-my-view-button-container {
  float: left;
  width: 25px; 
  height: 25px;
  margin: 7px 0 0 7px;
  display: inline-block;
} 
.annotator-my-view-button {
  width: 25px; 
  height: 25px;
  border-radius: 50%;
}



  /* Header */
.annotator-head-container {
  margin-bottom: 10px;
  width: 300px;
  text-align: center;
}
.annotator-user-image {
  margin: 0 auto;
  width: 90px;
  height: 90px;
  border-radius: 50%;
}
.username-container {
  color: red;
  margin-bottom: 5px;
}
.profile-statistics-container {
  width: 300px;
  margin-bottom: 5px;
}
.posts-container {
  border-right: 2px solid black;
  display: inline-block;
  padding-right: 5px;
}
.followers-container {
  border-right: 2px solid black;
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}
.following-container {
  display: inline-block;
  padding-left: 5px;
}
.statistic {
  padding-right: 3px; 
}
.description-container {
  width: 255px;
  display: inline-block;
  border-bottom: 1px solid black;
  padding: 0px 20px 5px 20px;
}
  


  /* Feed View */
.app-name {
  /*color: rgb(152, 157, 164);*/
  color: white;
}
.feed-view-container {
  width: 600px;
  height: 1000px;
  text-align: center;
  /*background-color: rgb(42, 67, 83);*/
  background-color: rgb(157, 189, 198);
}
.header-container {
  margin-bottom: 10px;
  width: 600px;
  text-align: center;
}
.minimize-button-container {
  float: left;
  height: 25px;
  width: 25px;
}
.posts-container {
  border-right: 2px solid black;
  display: inline-block;
  padding-right: 5px;
}
.followers-container {
  border-right: 2px solid black;
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}
.following-container {
  display: inline-block;
  padding-left: 5px;
}
.statistic {
  padding-right: 3px; 
}
.description-container {
  width: 255px;
  display: inline-block;
  border-bottom: 1px solid black;
  padding: 0px 20px 5px 20px;
}


  /* Feed View */
.minimize-button {
  height: 25px;
  width: 25px;
}
.body-container {
  display: inline-block;
  height: 800px;
  width: 595px;
}
/*ButtonContainer*/
.button-container {
  margin-top: 20px; 
  margin-right: 10px;
  height: 130px;
  width: 25px;
  position: absolute;
  top: 0;
  right: 0;
}
.feed-button {
  margin-top: 2px;
  height: 25px;
  width: 25px;
}
.feed-button:hover {
  background-color: rgb(255, 61, 46);
  border-radius: 3px;
}

/*Settings*/
.settings-profile-edit-icon {
  height: 16px;
  width: 16px;
}
#profile-pic {
  height:300px;
  width:auto;
  border-radius: 50%;
  padding: 5px;
}
/*FeedMyAnnotations*/
.feed-my-annotations-container {
  display: inline-block;
  height: 800px;
  width: 595px;
  overflow-y: scroll;
}
.my-annotations-links-container {
  display: inline-block;
  height: 800px;
  width: 595px;
  overflow-y: scroll;
}
.my-annotations-link-container {
  display: inline-block;
  height: 100px;
  width: 495px;
  margin: 15px 0px 15px 0px;
  /*background-color: rgb(92, 162, 190);  */
  background-color: rgb(255, 255, 255);
  
  /*border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;*/
  border-radius: 3px;
}
.redirectLink {
  /*color: white;*/
  color: rgb(39, 47, 50);
}

/*FriendsFeed*/

/*SearchView*/
.search-view-container {
  display: inline-block;
  height: 800px;
  width: 595px;
}
.form-search-container {
  text-align: center;
  padding: 10px;
}
.feed-search-result {
  list-style-type: none;
  display: float;
  height: 100px;
  width: 530px;
  margin: 0 auto;
}
.feed-search-result img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.feed-search-img {
  float: left;
  width: 90px;
  height: 90px;
}
.feed-search-following .following-text,
.feed-search-following:hover .unfollow-text {
  display: block
}
.feed-search-following .unfollow-text,
.feed-search-following:hover .following-text {
  display: none
}
.feed-search-following:hover {
  background: red;
}
.feed-search-name {
  font-size: medium;
}



  /*FriendsAnnotationsView*/
.friends-annotations-view-container {
  width: 300px;
  height: 700px;
  text-align: center;
  overflow-y: scroll;
}
.friends-container {
  width: 300px;
  height: 36px;
  margin-top: 30px;
  margin-bottom: 10px;
  overflow-x: scroll;

}
.friends-pic {
  margin: 3px 5px 3px 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: black;
  display: inline-block;
}
.redirectLink {
  z-index: 1000;
}
.friends-annotations-header {
  z-index: 99999;
  background: #fbfbfb;
  border: 1px solid #e6e6e6;
  position: fixed;
}
.annotation {
  background: #fbfbfb;
  min-height: 75px;
  max-height: 300px;
  overflow: scroll;
  padding-bottom: 10px;
  border-right:1px solid #e6e6e6;
  border-top:1px solid #e6e6e6;
  border-bottom:1px solid #e6e6e6;
  overflow-x: visible;
}
.annotationList {
  height: 1000px;
  overflow-y: scroll;
  margin-top: 126px;
  margin-bottom: 25px;
}
ul {
  list-style-type: none;
}

  /*FriendsAnnotationsLink*/
.feed-friends-annotations-container {
  width: 600px;
  height: 1000px;
  text-align: center;
  overflow-y: scroll;
}
.feed-friends-annotations-post {
  width: 600px;
  height: 150px;
  text-align: center;
  border-bottom: 1px solid black;
}
.post-pic-container {
  width: 150px;
  height: 150px;
  float: left;
}
.post-pic {
  width: 125px;
  height: 125px;
  margin-top: 12.5px;
  margin-bottom: 12.5px; 
  border-radius: 50%;
}
.post-body-container {
  float: right;
  width: 450px;
  height: 150px;
}
.post-header-container {
  margin-top: 12.5px;
  width: 450px;
  height: 37.5px; 
}
.post-name-container {
  display: inline-block;
  margin-right: 10px;
}
.post-time-container {
  display: inline-block;
}
.post-title-container {
  width: 450px;
  height: 37.5px; 
}
.post-like-comment-container {
  width: 450px;
  height: 37.5px; 
}
.post-likes-container {
  display: inline-block;
  margin-right: 10px;
}
.post-comments-container {
  display: inline-block;
}

/*FriendsButtonsContainer*/
.friends-annotations-buttons-container {
  width: 300px;
  height: 38px;
}
.my-annotations-button-container {
  float: right;
  height: 25px;
  width: 25px;
  margin: 7px 0 0 7px;
}
.my-annotations-button {
  height: 25px;
  width: 25px;
  border-radius: 50%;
}