.annotation-sidebar {
  z-index: 10000;
  position: fixed; 
  top: 0; 
  width: 600px; 
  right: -580px; 
  background-color: black; 
  height: 100%; 
  background: rgba(0, 0, 31, 0);
}
#scrollview {
  color: black; 
}
/* React */
.annotator-body-container {
  height: 700px;
  overflow-y: scroll;
}
.annotator-button-container {
  margin-top: 7px;
  width: 25px;
  height: 25px;
}
.annotator-button {
  width: 25px;
  height: 25px;
  background: rgba(55, 54, 68, 0);
}

.annotator-button-container {
  margin-top: 7px;
  width: 25px;
  height: 25px;
}

.annotator-button {
  width: 25px;
  height: 25px;
  background: rgba(55, 54, 68, 0);
}

/* Annotator View */
.annotator-view-container {
  width: 300px;
  height: 700px;
  background: rgba(249, 249, 249, 1);
}

.annotator-buttons-container {
  width: 300px;
<<<<<<< HEAD
  height: 38px;
}
.friends-annoataions-button-container {
  float: right;
  width: 25px; 
  height: 25px;
  margin: 7px 0 0 7px;
}

.friends-annotations-button {
  width: 25px; 
  height: 25px;
}
.home-button {
  width: 25px;
  height: 25px;
}
.home-button-container {
  float: right;
  margin: 7px 0 0 7px;
  /*display: inline-block;*/
}
.annotator-my-view-button-container {
  float: left;
  width: 25px; 
  height: 25px;
  margin: 7px 0 0 7px;
  display: inline-block;
} 

.annotator-my-view-button {
  width: 25px; 
  height: 25px;
  background: rgba(55, 54, 68, 0);
  border-radius: 50%;
}



  /* Header */
.annotator-head-container {
<<<<<<< HEAD
  margin-bottom: 10px;
  width: 300px;
  text-align: center;
}
.annotator-user-image {
  margin: 0 auto;
  width: 90px;
  height: 90px;
  border-radius: 50%;
}
.username-container {
  color: red;
  margin-bottom: 5px;
}
.profile-statistics-container {
  width: 300px;
  margin-bottom: 5px;
}
.posts-container {
  border-right: 2px solid black;
  display: inline-block;
  padding-right: 5px;
}
.followers-container {
  border-right: 2px solid black;
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}
.following-container {
  display: inline-block;
  padding-left: 5px;
}
.statistic {
  padding-right: 3px; 
}
.description-container {
  width: 255px;
  display: inline-block;
  border-bottom: 1px solid black;
  padding: 0px 20px 5px 20px;
}
  


  /* Feed View */
.feed-view-container {
  width: 600px;
  height: 1000px;
  background: rgba(249, 249, 249, 1);
  text-align: center;
}
.header-container {
  margin-bottom: 10px;
  width: 600px;
  text-align: center;
}
.minimize-button-container {
  float: left;
  height: 25px;
  width: 25px;
}
.posts-container {
  border-right: 2px solid black;
  display: inline-block;
  padding-right: 5px;
}
.followers-container {
  border-right: 2px solid black;
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}
.following-container {
  display: inline-block;
  padding-left: 5px;
}
.statistic {
  padding-right: 3px; 
}
.description-container {
  width: 255px;
  display: inline-block;
  border-bottom: 1px solid black;
  padding: 0px 20px 5px 20px;
}


  /* Feed View */
.minimize-button {
  height: 25px;
  width: 25px;
}
.body-container {
  display: inline-block;
  height: 800px;
  width: 595px;
  border: 1px solid black;
}
/*ButtonContainer*/
.button-container {
  height: 85px;
  width: 25px;
  border: 1px solid red;
  position: absolute;
  top: 0;
  right: 0;
}
/*Settings*/

/*MyAnnotations*/

/*FriendsFeed*/

/*SearchView*/
.search-view-container {
  display: inline-block;
  height: 800px;
  width: 595px;
  border: 1px solid blue;
}
.form-search-container {
  text-align: center;
}



  /*FriendsAnnotationsView*/
.friends-annotations-view-container {
  width: 300px;
  height: 700px;
  background: rgba(249, 249, 249, 1);
  text-align: center;
}
.friends-container {
  width: 300px;
  height: 36px;
  margin-top: 30px;
  margin-bottom: 10px;
  overflow-x: scroll;
  background: rgba(235, 235, 235, 1);
}
.friends-pic {
  margin: 3px 5px 3px 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: black;
  display: inline-block;
}
/*FriendsButtonsContainer*/
.friends-annotations-buttons-container {
  width: 300px;
  height: 38px;
}
.my-annoataions-button-container {
  float: right;
  height: 25px;
  width: 25px;
  margin: 7px 0 0 7px;
}
.my-annotations-button {
  height: 25px;
  width: 25px;
  border-radius: 50%;
}