.annotationList-appear {
  opacity: 0.7;
  /*transform: translateY(-50px);*/
}

.annotationList-appear.annotationList-appear-active {
  opacity: 1;
  transition: opacity .1s ease-in;
  /*transform: translateY(0px);*/
}

.feedview-leave {
  opacity: 1;
}

.feedview-leave.feedview-leave-active {
  opacity: 0.01;
  transition: opacity .1s ease-in;
}

.annotation-text {
  width: 83%;
  margin-left: 17%;
}

.modify-comment-container {
  float: right;
  margin-top: 5px;
  margin-right: 5px;
}

.annotation-friends-pic {
  margin: 6px 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #e6e6e6;
  background-color: black;
  float: left;
}

#annotation-sidebar {
  all: initial; 
  z-index: 9999999;
  position: fixed; 
  top: 0; 
  width: 630px;
  right: -600px;
  height: 100%; 
  text-decoration: none;
  list-style-type: none;
  overflow-y: auto;
  overflow-x: hidden;
  }

#annotation-header {
  z-index: 1;
  height: 38px;
  background: white;
  position: absolute;
  left: 31px;
  width: 0px;
  border-bottom: 1px solid #e6e6e6;
  margin-left: 2px;
}

/* React */
.app-container {
  background: none;
  margin-left: 32px;
}
.annotator-body-container {

  overflow-y: scroll;
}
.annotator-button-container {
  margin-top: 7px;
  width: 25px;
  height: 25px;
  position: absolute;
  left: 0px;
}
.annotator-button {
  width: 25px;
  height: 25px;
}



/* Annotator View */
.annotator-view-container {
  width: 300px;
  height: 700px;
}
.annotator-buttons-container {
  z-index: 10000;
  width: 300px;
  height: 38px;
}
.friends-annotations-button-container {
  float: right;
  width: 25px; 
  height: 25px;
  margin: 7px 0 0 7px;

}
.friends-annotations-button {
  width: 25px; 
  height: 25px;
}
.home-button {
  width: 25px;
  height: 25px;
}
.home-button-container {
  float: right;
  margin: 7px 0 0 7px;
  /*display: inline-block;*/
}
.annotator-my-view-button-container {
  float: left;
  width: 40px; 
  height: 30px;
  margin-top: 4px;
  margin-left: -5px;
  display: inline-block;
} 
.annotator-my-view-button {
  width: 50px; 
  height: 30px;
  border-radius: 50%;
}



  /* Header */
.annotator-head-container {
  margin-bottom: 10px;
  width: 300px;
  text-align: center;
}
.annotator-user-image {
  margin: 0 auto;
  width: 90px;
  height: 90px;
  border-radius: 50%;
}
.username-container {
  color: red;
  margin-bottom: 5px;
}
.profile-statistics-container {
  width: 300px;
  margin-bottom: 5px;
}
.posts-container {
  border-right: 2px solid black;
  display: inline-block;
  padding-right: 5px;
}
.followers-container {
  border-right: 2px solid black;
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}
.following-container {
  display: inline-block;
  padding-left: 5px;
}
.statistic {
  padding-right: 3px; 
}
.description-container {
  width: 255px;
  display: inline-block;
  border-bottom: 1px solid black;
  padding: 0px 20px 5px 20px;
}

  /* Feed View */
.app-name {
  /*color: rgb(152, 157, 164);*/
  color: white;
}
.feed-view-container {
  width: 600px;

  text-align: center;
  /*background-color: #475F77;*/
  background-color: #fbfbfb;
}
.header-container {
  margin-bottom: 10px;
  width: 600px;
  text-align: center;
}
.minimize-button-container {
  position: absolute;
  float: left;
  height: 20px;
  width: 40px;
  z-index: 1;
  margin-top: 4px;
  margin-left: -5px;
}
.posts-container {
  border-right: 2px solid black;
  display: inline-block;
  padding-right: 5px;
}
.followers-container {
  border-right: 2px solid black;
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}
.following-container {
  display: inline-block;
  padding-left: 5px;
}
.statistic {
  padding-right: 3px; 
}
.description-container {
  width: 255px;
  display: inline-block;
  border-bottom: 1px solid black;
  padding: 0px 20px 5px 20px;
}


  /* Feed View */
.minimize-button {
  height: 30px;
  width: 50px;
}
.body-container {
  display: inline-block;
  border: 1px solid #e6e6e6;
  width: 600px;
}
/*ButtonContainer*/
.button-container {
  position: absolute;
  width: 7%;
  z-index: 1;
  right: 0;
  margin-top: 10px;
}
.button-container li {
  display: inline-block;
}
.nav-container {
  position: absolute;
  z-index: 1;
  width: 50%;
  margin-top: 5px;
  margin-left: 55px;
  padding: 0px;
}
.nav-container li {
  display: inline-block;
}
.search-button-container {
  height: 20px;
  width: 20px;
}
.search-button {
  height: 20px;
  width: 20px;
}
.settings-button {
  height: 25px;
  width: 25px;

}
.feed-nav:hover {
  border-bottom: 1px solid black;
  border-radius: 3px;
}

.feed-nav {
  font-family: 'noto sans', sans-serif;
  font-size: 17px;
  color: black;
  margin-right: 35px;
  font-weight: 600;
}

/*Settings*/
.settings-view-container {
  margin-top: 38px;
}
.settings-profile-edit-icon {
  height: 16px;
  width: 16px;
}
#profile-pic {
  height:300px;
  width:auto;
  border-radius: 50%;
  padding: 5px;
}
/*FeedMyAnnotations*/
.banner-pic {
  height: auto;
  width: 600px;
  margin-top: -160px;
  -webkit-filter: contrast(150%);
}

.banner-pic-container {
  width: 600px;
  height:375px;
  overflow: hidden;
  marigin-top: 14px;
  border-bottom: 1px solid #e6e6e6;
}
.feed-my-annotations-header{
  position: absolute;
  z-index: 1;
  color: white;
  font-family: 'lato', sans-serif;
  font-size: 20px;
  height: 38px;
  margin-top: 15px;
  margin-left: 60px;
}

.feed-my-annotations-container {
  display: inline-block;
  height: 800px;
  width: 600px;
  border: 1px, bold, #b6b6b6;
  margin-top: 38px;
}

.my-annotations-title-container {
  font-family: 'libre baskerville', serif;
  margin-bottom: 15px;
  height: 44px;
}

.my-annotations-title-container a{
  color: black;
}

.my-annotations-likes-container {
  font-family: 'lato', sans-serif;
}

.my-annotations-links-container {
  display: inline-block;
  width: 600px;
  background: white;
  margin-top: 10px;
}
.my-annotations-link-container {
  text-align: left;
  overflow: auto;
  border-bottom: 1px solid #b6b6b6;
  display: inline-block;
  min-height: 100px;
  width: 495px;
  /*background-color: rgb(92, 162, 190);  */
  background-color: rgb(255, 255, 255);
  color: black;
  margin-top: 7px;
  /*border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;*/
  border-radius: 3px;
}
.my-annotations-submit-button {
  float: right;
  border: none;
  background: none;
  font-family: 'source sans pro', sans-serif;
  font-size: 17px;
  bottom: 10px;
}
.my-annotations-general-post {
  font-size: 17px;
  font-family: 'source sans pro', sans-serif;
  color: grey;
}
.my-annotations-likes-container{
  position: absolute;
  bottom: 5px;
  width: 6%;
  float: right;
}

.my-annotations-heart-button {
  height: 16px;
  width: 16px;
  margin-right: 5px;
}
.my-annotations-like-number {
  display: inline;
  font-family: 'source sans pro', sans-serif;
}
.inputContent {
  color: black;
  width: 100%;
  padding: 0px;
  border: none;
  resize: none; 
  font-family: 'source sans pro', sans-serif;
  font-size: 17px;
}
::-webkit-input-placeholder {
  color: #b6b6b6;
}
input:focus,
textarea:focus,
button:focus {
  outline: none;
}

a .redirectLink {
  text-decoration: none;
  color: rgb(39, 47, 50);
  all: inherit;
}

/*FriendsFeed*/

/*SearchView*/
.search-view-container {
  display: inline-block;
  height: 800px;
  width: 600px;
}
.form-search-container {
  text-align: center;
  padding: 10px;
}
.feed-search-result {
  list-style-type: none;
  display: float;
  height: 100px;
  width: 530px;
  margin: 0 auto;
}
.feed-search-result img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.feed-search-img {
  float: left;
  width: 90px;
  height: 90px;
}
.feed-search-following .following-text,
.feed-search-following:hover .unfollow-text {
  display: block
}
.feed-search-following .unfollow-text,
.feed-search-following:hover .following-text {
  display: none
}
.feed-search-following:hover {
  background: red;
}
.feed-search-name {
  font-size: medium;
}



  /*FriendsAnnotationsView*/
.friends-annotations-view-container {
  width: 300px;
  /*height: 700px;*/
  overflow-y: scroll;
}
.friends-container {
  width: 300px;
  height: 40px;
  margin-top: 5px;
  margin-bottom: 10px;
  overflow-x: scroll;
  text-align: center;

}
.friends-pic {
  margin: 3px 5px 3px 5px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: black;
  display: inline-block;
}

.friend-name {
  visibility: hidden;
}
.redirectLink {
  z-index: 1000;
  color: black;
}
.friends-heading {
  text-align: center;
  width: 90%;
  border-bottom: 1px solid #b6b6b6;
  margin: 10px auto 0px;
  padding-bottom: 5px;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
}
.friends-annotations-header {
  z-index: 99999;
  background: #fbfbfb;
  position: fixed;
  border-right: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
}

.annotations-title {
  position: absolute;
  width: 50%;
  font-family: 'noto sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: black;
  text-align: center;
  margin: 8px 25%;
}

.annotation {
  background: #fbfbfb;
  min-height: 55px;
  max-height: 300px;
  overflow: scroll;
  padding-bottom: 7px;
  border-right:1px solid #e6e6e6;
  border-top:1px solid #e6e6e6;
  border-bottom:1px solid #e6e6e6;
  overflow-x: visible;
}
.annotation-text {
  text-align: left;
  color: #31353D;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
}
#annotationEdit {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
}
.username {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 12px;
  margin-top: 7px;
  margin-bottom: 5px;
}
.annotationList {
  height: 1000px;
  overflow-y: scroll;
  margin-top: 126px;
  margin-bottom: 25px;
}
.annotationListItem {
  all: initial;
}
ul {
  list-style-type: none;
}

  /*FeedFriendsAnnotationsLink*/
.feed-friends-annotations-container {
  width: 600px;
  height: 1000px;
  text-align: left;
  overflow-y: scroll;
  margin-top: 38px;
}
.feed-friends-annotations-post {
  width: 600px;
  min-height: 150px;
  /*text-align: center;*/
  border-bottom: 1px solid black;
}
.post-pic-container {
  width: 125px;
  height: 150px;
  float: left;
}
.post-pic {
  width: 100px;
  height: 100px;
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 12.5px; 
  border-radius: 50%;
}
.post-body-container {
  padding: 12.5px 0px 12.5px 10px;
  float: left;
  width: 445px;
  height: 125px;
}
.post-header-container {
  margin-top: 12.5px;
  width: 450px;
  /*height: 25px; */
}
.post-name-container {
  display: inline-block;
  margin-right: 10px;
}
.post-time-container {
  display: inline-block;
}
.post-title-container {
  width: 450px;
  font-weight: 900;
  font-size: 16px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  color: black;
  /*height: 25px; */
}


.post-like-comment-container {
  width: 450px;
  /*height: 25px; */
}
.post-likes-container {
  display: inline-block;
  margin-right: 10px;
}
.post-comments-container {
  width: 590px;
  overflow-y: scroll;
}
/*.post-comments-container-two {
  border-top: solid 1px black;
  display: none;
  width: 590px;
  overflow-y: scroll;
}*/
.post-likes-and-comments-container {
  width: 450px;
}
.post-comments-button-container {
  display: inline-block;
}
.post-general-post-container {
  color: rgb(145, 146, 148);
}
.heart-icon {
  height: 16px;
  width: 16px;
}
.comment-icon {
  height: 16px;
  width: 16px; 
}

/*PostComments*/
.comment-main-container {
  margin: 0px 5px 0px 5px;
  width: 590px;
  background-color: rgb(249, 250, 252);
  min-height: 150px;
}
.comment-container {
  width: 590px;
}
.comment-containers {
  width: 580px;
  min-height: 25px;
  background: white;
  padding: 5px 5px 5px 5px;
  /*border-top: solid 1px black;*/
}
.comment-header {
  margin-bottom: 5px;
  width: 580px;
  height: 25px;
  display: inline-block;
}
.comment-pic-container {
  margin-right: 10px; 
  width: 25px;
  height: 25px;
  display: inline-block;
}
.comment-pic {
  vertical-align: middle;
  width: 25px;
  height: 25px; 
  display: inline-block;
  border-radius: 50%;
}
.comment-username {
  min-width: 100px;
  display: inline-block;
}
.comment-message {
  min-height: 25px;
  color: rgb(145, 146, 148);
  width: 580px;
}
.comment-line {
  width: 100%;
  display: inline-block;
}
.comment-input {
  height: 25px;
  width: 500px;
}
.comment-input-button {
  margin-left: 10px;
  height: 25px;
  width: 30px;
  background-color: white;
  border: solid 1px rgb(248, 255, 255);
}
.comment-main-containers {
  background-color: #f9fafc;
}
/*FriendsButtonsContainer*/
.friends-annotations-buttons-container {
  width: 300px;
  height: 38px;
  background: white;
  border-bottom: 1px solid #e6e6e6;
}
.my-annotations-button-container {
  float: right;
  height: 25px;
  width: 25px;
  margin: 7px 10px 0 7px;
}
.my-annotations-button {
  height: 25px;
  width: 25px;
  border-radius: 50%;
}